<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}homepage{% endblock %}

{% block content %}
    
<div class="container">
	<div class = "page-header">
		<h3>"Cars MPG" dataset dashboard</h3>
	</div>

    <h4>Brand: {{brand}}</h4>        
	
	<p>Cars in the database: {{count}}</p>    
    <p>Average weight: {{avg_weight | round(0, "common") | int}} kg</p>
    <p>Average power: {{avg_horsepower | round(0, "common") | int}} HP</p>
    <p>Average consumption: {{avg_consumption | round(1, "common")}} l/100 km</p>
    
	<br></br>

    <form action="/select_brand">
        <input type="submit" value="Back" />
    </form>


{% endblock %}    
</html>