<html>
    <body>        
        <h2>brand: {{brand}}</h2>        

        <p>{{count}} entries</p>    
        <p>average weight: {{avg_weight | round(0, "common") | int}} kg</p>
        <p>average power: {{avg_horsepower | round(0, "common") | int}} HP</p>
        <p>average consumption: {{avg_consumption | round(1, "common")}} l/100 km</p>

        <br></br>

        <form action="/">
            <input type="submit" value="Back" />
        </form>

        <br></br>

        {% for car in cars %}
        <p>{{car.brand}} {{car.model}}, origin: {{car.origin}}, year: {{car.model_year}}</p>
        {% endfor %}
        


    </body>
</html>