<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}homepage{% endblock %}

{% block content %}
    
    <div class="container">


    <h4>brand: {{brand}}</h4>        

    <p>{{count}} entries</p>    
    <p>average weight: {{avg_weight | round(0, "common") | int}} kg</p>
    <p>average power: {{avg_horsepower | round(0, "common") | int}} HP</p>
    <p>average consumption: {{avg_consumption | round(1, "common")}} l/100 km</p>

    <div></div>

    <form action="/select_brand">
        <input type="submit" value="Back" />
    </form>


{% endblock %}    
</html>